---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";

const { NAME } = SITE;
---

<PageLayout
    title="Colophon"
    description="Learn about the technologies and design philosophy behind this site."
>
    <Container>
        <div class="space-y-10">
            <div class="animate font-bold text-black dark:text-white">
                <h1>How this was made</h1>
            </div>
            <section class="space-y-4"></section>
            <section class="space-y-4">
                <h2 class="font-bold">Technology</h2>
                <p>
                    This site is built with
                    <Link href="https://astro.build">Astro</Link>
                    , styled using
                    <Link href="https://tailwindcss.com">Tailwind</Link>, and
                    hosted on <Link href="https://vercel.com">Vercel</Link>.
                </p>

                <p>
                    It's all open souce, feel free to use what's on <Link
                        href="https://github.com/kinantid/kd-2024">Github</Link
                    > for your own remix.
                </p>

                <p>
                    I've built this on the contributions of others - thanks to <Link
                        href="https://markhorn.dev/">Mark Horn</Link
                    > for the
                    <Link href="https://astro.build/themes/details/astronano/"
                        >Astro Nano</Link
                    > template.
                </p>
            </section>
            <section class="space-y-4">
                <h2 class="font-bold">Fonts</h2>
                <p>
                    This site uses
                    <Link href="https://klim.co.nz/retail-fonts/untitled-sans/"
                        >Untitled Sans</Link
                    >.
                </p>
            </section>
        </div>
    </Container>
</PageLayout>
