---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <img
          src="/favicon-light.svg"
          alt="{SITE.NAME} logo"
          class="h-8 w-auto"
        />
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog"> blog </Link>
        <span>
          {`|`}
        </span>
        <Link href="/work"> work </Link>
        <span>
          {`|`}
        </span>
        <Link href="/projects"> projects </Link>
      </nav>
    </div>
  </Container>
</header>
